*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* UTILITY */

.h100{
    height: 100px;
}

.margin20px{
    margin-bottom: 20px;
}

.grey{
    color: rgb(151, 151, 151);
}

.f12{
    font-size: 12px;
}

span{
    text-align: left;
}

.padding60px{
    padding-top: 60px;
}

.container{
    width: 50%;
    margin: 20px auto;
}

.bgc-green{
    background-color: rgb(162,211,155);
}

.bgc-brown{
    background-color: rgb(97,8,43);
}

.bgc-bluefl{
    background-color: rgb(0,147,206);
}

.bgc-orange{
    background-color: rgb(255,28,28);
}

.bgc-red{
    background-color: rgb(213,0,31);
}

.bgc-blue{
    background-color: rgb(13,36,129);
}

.bgc-lightblue{
    background-color: rgb(180,208,231);
}

.bgc-yellow{
    background-color: rgb(255,216,48);
}

/* FINE UTILITY */

/* start of header */

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}

.col-header{
    display: flex;
    justify-content: center;
}

.logoimg{
    object-fit: contain;
}

.col-header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-header ul li{
    list-style-type: none;
    margin: 5px 15px;
    color: rgb(108,108,108);
}

button{
    border-radius: 0%;
    border: none;
    background-color: rgb(0,97,255);
    color: white;
    padding: 5px 10px;
}

/*START OF MAIN*/

/* jumbotron */

.row{
    width: 65%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.col-title{
    width: 100%;
}

h1{
    font-size: 60px;
    margin: 20px 0px;
    line-height: 70px;
    text-align: left;
}


.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.jumboimg{
    object-fit: contain;
    width: 100%;
    margin-bottom: -60px;
}

.text-jumbo{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 13px;
    color: rgb(81, 80, 80);
}

#arrow{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 40px;
    color: black;
}

/* 3 plans */

.col-plans{
    width: 28%;
}

.row-plans{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.row-btn{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.radio-btn{
    display: flex;
    flex-direction: row;
    line-height: 20px;
}

h2{
    margin: 40px auto;
    font-size: 30px;
}

.w100{
    width: 100%;
}

input{
    margin-right: 5px;
}

label{
    font-size: 12px;
    vertical-align: middle;
    margin-right: 40px;
    color: rgb(110, 108, 108);
}

.plan-type{
    border: 1px solid rgb(201, 201, 201);
    line-height: 30px;
    text-align: center;
}

.intro{
    line-height: 25px;
}

.price{
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.content-plan{
    border: 1px solid rgb(201, 201, 201);
    padding: 20px;
}

.content-plan ul li{
    display: flex;
    list-style-type: none;
    margin-bottom: 15px;
}

#icon{
    font-size: 12px;
    margin-right: 5px;
}

#prova{
    width: 100%;
    margin: 20px 0;

}

hr{
    margin: 20px 0;
    width: 20%;
}

h4{
    margin: 20px 0;
}

.fa-check{
    color: rgb(0,97,255);
}

/* plan 4 */
.row-p4{
    margin: 20px auto;
}

.col-p4 .content-plan{
    position: relative;
}
.p4-btn{
    position: absolute;
    top: 15px;
    right: 15px;
}

/* partner section */
.row-partner{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.imgpartner{
    object-fit: contain;
    width: 100%;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
    padding: 50px 30px;
}

.col-40 p{
    margin: 15px 0;
}

/* Dropbox operations */

.row-op{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.col-op{
    width: 30%;
}

.op-content h3{
    margin: 15px 0;
}

.imgop{
    object-fit: contain;
    width: 100%;

}

/* TEAM squares */

section{
    width: 100%;
}

.rowteams{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.colsquare{
    width: calc(100% / 3);
    margin: 20px 0;
    height: calc(100vw / 3);
}

.rowsquare{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.smsquare{
    display: flex;
    justify-content: center;
    width: calc(100% / 2);
    height: 100%;
}

.smsquare img{
    filter: invert(1);
    width: 50%;
}

/* footer */

.footer{
    width: 100%;
    background-color: black;
}
.row-footer{
    width: 65%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sm-col{
    width: 20%;
    color: white;
    margin: 10px 0;
}

.sm-col h5{
    font-size: 17px;
    padding: 15px 0;
}

.sm-col ul li{
    font-size: 10px;
    list-style-type: none;
    padding: 7px 0;
}

.row-footer hr{
    size: 10;
    width: 10%;
}

.row-footer p{
    color: white;
    padding: 20px 0;
}