*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.row{
    width: 65%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.bgcolor-blue{
    background-color: rgba(180,208,231,255);
}
 
.h100{
    height: 100px;
}

.margin20px{
    margin-bottom: 20px;
}

.grey{
    color: rgb(151, 151, 151);
}

.f12{
    font-size: 12px;
}

span{
    text-align: left;
}

.padding60px{
    padding-top: 60px;
}

.container{
    width: 50%;
    margin: 20px auto;
}
/* start of header */

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}

.col-header{
    display: flex;
    justify-content: center;
}

.logoimg{
    object-fit: contain;
}

.col-header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-header ul li{
    list-style-type: none;
    margin: 5px 15px;
    color: rgba(108,108,108,255);
}

button{
    border-radius: 0%;
    border: none;
    background-color: rgba(0,97,255,255);
    color: white;
    padding: 5px 10px;
}

/*START OF MAIN*/

/* jumbotron */

.col-title{
    width: 100%;
}

h1{
    font-size: 60px;
    margin: 20px 0px;
    line-height: 70px;
    text-align: left;
}


.col-30{
    width: 30%;
}

.col-70{
    max-width: 70%;
}

.jumboimg{
    object-fit: contain;
    width: 100%;
    margin-bottom: -60px;
}

.text-jumbo{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 13px;
    color: rgb(81, 80, 80);
}

.icon{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 40px;
    color: black;
}

/* 3 plans */

.col-plans{
    width: 28%;
}

.row-plans{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.row-btn{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.radio-btn{
    display: flex;
    flex-direction: row;
    line-height: 20px;
}

h2{
    margin: 40px auto;
    font-size: 30px;
}

.w100{
    width: 100%;
}

input{
    margin-right: 5px;
}

label{
    font-size: 12px;
    vertical-align: middle;
    margin-right: 40px;
    color: rgb(110, 108, 108);
}

.plan-type{
    border: 1px solid rgb(201, 201, 201);
    line-height: 30px;
    text-align: center;
}

.intro{
    line-height: 25px;
}

.price{
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.content-plan{
    border: 1px solid rgb(201, 201, 201);
    padding: 20px;
}

.content-plan ul li{
    display: flex;
    list-style-type: none;
    margin-bottom: 15px;
}

#icon{
    font-size: 12px;
    margin-right: 5px;
}

#prova{
    width: 100%;
    margin: 20px 0;

}

hr{
    margin: 20px 0;
    width: 20%;
}

h4{
    margin: 20px 0;
}

.fa-check{
    color: rgb(0,97,255);
}

/* plan 4 */
.row-p4{
    margin: 20px auto;
}

.col-p4 .content-plan{
    position: relative;
}
.p4-btn{
    position: absolute;
    top: 15px;
    right: 15px;
}

/* partners squares */
.colsquare{
    width: calc(100% / 3);
    height: 200px;
    background-color: blueviolet;
    margin: 20px 0;
}

.rowsquare{
    display: flex;
    flex-direction: row;
    height: calc(100% / 2);
    width: 100%;
    background-color: brown;
}

.smsquare{
    height: 100%;
    width: calc(100% / 2);
}

/* footer */

.footer{
    width: 100%;
    background-color: black;
}
.row-footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sm-col{
    width: 20%;
    height: 200px;
    background-color: lightseagreen;
    margin: 10px;
    border: 1px white dashed;
}