*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    width: 70%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.bgcolor-blue{
    background-color: blue;
}
 
.h100{
    height: 100px;
}
/* start of header */
header{
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

.row-header{
    display: flex;
    justify-content: space-between;
}

.col-header{
    display: flex;
    justify-content: center;
}

p{
    height: 20px;
    width: 50px;
    background-color: orange;
    margin: 10px;
}

/*START OF MAIN*/

/* jumbotron */
.container{
    width: 100%;
    height: 300px;
    padding: 10px;
}

.col-title{
    width: 100%;
    height: 80px;
    background-color: red;
}

.col-30{
    height: 200px;
    width: 30%;
    background-color: aqua;
}

.col-70{
    width: 70%;
    height: 200px;
    background-color: burlywood;
}

/* 3 plans */

.space{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.col-radiobtn{
    width: 70%;
    height: 100px;
    background-color: red;
    margin: 20px auto;
}

.plan4{
    width: 67%;
    height: 100px;
    background-color: aqua;
    margin: 20px auto;
}

.w100{
    width: 100%;
}

/* partners squares */
.colsquare{
    width: calc(100% / 3);
    height: 200px;
    background-color: blueviolet;
    margin: 20px 0;
}

.rowsquare{
    display: flex;
    flex-direction: row;
    height: calc(100% / 2);
    width: 100%;
    background-color: brown;
}

.smsquare{
    height: 100%;
    width: calc(100% / 2);
}