*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    width: 65%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.bgcolor-blue{
    background-color: rgba(180,208,231,255);
}
 
.h100{
    height: 100px;
}

.margin20px{
    margin-bottom: 20px;
}

/* start of header */

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}

.col-header{
    display: flex;
    justify-content: center;
}

.logoimg{
    object-fit: contain;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    list-style-type: none;
    margin: 5px 15px;
    color: rgba(108,108,108,255);
}

button{
    border-radius: 0%;
    border: none;
    background-color: rgba(0,97,255,255);
    color: white;
    padding: 5px 10px;
}

/*START OF MAIN*/

/* jumbotron */
.container{
    min-width: 100%;
    padding: 10px;
}

.col-title{
    width: 100%;
}

h1{
    font-size: 60px;
    margin: 20px 0px;
    line-height: 70px;
    text-align: left;
}


.col-30{
    width: 30%;
}

.col-70{
    max-width: 70%;
}

.jumboimg{
    object-fit: contain;
    width: 100%;
    margin-bottom: -60px;
}

.text-jumbo{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 13px;
    color: rgb(81, 80, 80);
}

.icon{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 40px;
    color: black;
}

/* 3 plans */

.space{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.col-radiobtn{
    width: 70%;
    height: 100px;
    background-color: red;
    margin: 20px auto;
}

.plan4{
    width: 67%;
    height: 100px;
    background-color: aqua;
    margin: 20px auto;
}

.radiobtn{
    display: flex;
    flex-direction: row;
}

.w100{
    width: 100%;
}

/* partners squares */
.colsquare{
    width: calc(100% / 3);
    height: 200px;
    background-color: blueviolet;
    margin: 20px 0;
}

.rowsquare{
    display: flex;
    flex-direction: row;
    height: calc(100% / 2);
    width: 100%;
    background-color: brown;
}

.smsquare{
    height: 100%;
    width: calc(100% / 2);
}

/* footer */

.footer{
    width: 100%;
    background-color: black;
}
.row-footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sm-col{
    width: 20%;
    height: 200px;
    background-color: lightseagreen;
    margin: 10px;
    border: 1px white dashed;
}